<%= form_with(model: vote_question, class: "contents bg-primary") do |form| %>
  <% if vote_question.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(vote_question.errors.count, "error") %> prohibited this text from being saved: </h2>

      <ul>
        <% vote_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6 bg-secondary rounded-md m-auto p-4 items-center">
    <div class="row max-w-sm">
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: "text-area" %>
    </div>

    <div class="">
      <div class="row max-w-sm">
        <%= form.label :start_at %>
        <%= form.datetime_field :start_at, class: "datetime-field" %>
      </div>

      <div class="row max-w-sm">
        <%= form.label :end_at %>
        <%= form.datetime_field :end_at, class: "datetime-field" %>
      </div>
    </div>

    <div class="row">

    </div>
  </div>

  <div class="row">
    <%= form.label :content, class: 'label leading-10' %>
    <%= form.rich_text_area :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
